<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="http://club-sandwich.org/style.php?id=15&amp;lang=fr" media="screen" />
<title>Accueil du Club Sandwich</title>
</head>

<body>
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">

<head>
	{SEO_BASE_HREF}
	<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-language" content="{S_USER_LANG}" />
	<meta http-equiv="imagetoolbar" content="yes" />
	<meta name="resource-type" content="document" />
	<meta name="distribution" content="global" />
	<meta name="copyright" content="2000, 2002, 2005, 2007 phpBB Group" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<link rel="icon" type="image/png" href="http://club-sandwich.org/styles/CS_2.0/imageset/img/favicon.png" />
	<link rel="shortcut icon" type="image/x-icon" href="http://club-sandwich.org/styles/CS_2.0/imageset/img/favicon.ico" />
	<!-- IF SEO_CANONICAL_URL --><link rel="canonical" href="{SEO_CANONICAL_URL}" /><!-- ENDIF -->

	{META}
	<title>{SITENAME} | <!-- IF S_IN_MCP -->{L_MCP} | <!-- ELSEIF S_IN_UCP -->{L_UCP} | <!-- ENDIF -->{PAGE_TITLE}</title>
	
	<script type="text/javascript" src="tinymce/tiny_mce.js"></script>
	<script type="text/javascript" src="{T_TEMPLATE_PATH}/hidde.js"></script>
	
			<!-- FLUX RSS !!!! -->
<!-- IF S_ENABLE_FEEDS -->		
		<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
		<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
<!-- ENDIF -->

<!--
	phpBB style name: club-sandwich
	Based on style:   prosilver (this is the default phpBB3 style)
	Original author:  Tom Beddard ( http://www.subBlue.com/ )
	Modified by: Goldensuneur

	NOTE: This page was generated by phpBB, the free open-source bulletin board package.
	      The phpBB Group is not responsible for the content of this page and forum. For more information
	      about phpBB please visit http://www.phpbb.com
-->


<link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" title="A" />
<script type="text/javascript" src="http://club-sandwich.org/oauth/toolbar.php"></script>

</head>


<body>

<!-- IF S_USER_PM_POPUP -->
	<center>
		<div id="Popinfo">
				Information
			
			<p>Vous avez un nouveau message.</p>
			<p>
			    <input type="button" class="button1" value="Boite de réception" title="Boite de réception" onclick="document.location='{U_PRIVATEMSGS}'" />
				<input type="button" class="button1" value="Fermer" title="Fermer" onclick="document.getElementById('Popinfo').style.display = 'none';" />
			</p>
		</div>
	</center>
	
		<script type="text/javascript">
			if ({S_NEW_PM})
			{
				document.getElementById('Popinfo').style.display = 'block';
			}
		</script>
<!-- ENDIF -->
	
<div id="corps">
	
	
	<div id="header">
	

		    
  			<div class="maintitle"><div class="menubarre">
  			    <a id="logo" href="{U_INDEX}" title="{L_INDEX}"></a>
      	  		<span id="banniere"></span></div>
      	  		
                

			
			<div id="barre_bouton">
			
			<!-- barre de bouton, ne pas séparer sinon bug d'affichage -->
<a id="barre_bouton_accueil" href="http://club-sandwich.org/portail.php" rel="nofollow"></a><a id="barre_bouton_index" href="{U_INDEX}" rel="nofollow"></a><a id="barre_bouton_website" href="http://blog.club-sandwich.org/" rel="nofollow"></a><a id="barre_bouton_faq" href="{U_FAQ}" rel="nofollow"></a><a id="barre_bouton_rechercher" href="{U_SEARCH}" rel="nofollow"></a><a id="barre_bouton_membre" href="{U_MEMBERLIST}" rel="nofollow"></a><!-- IF not S_IS_BOT and S_USER_LOGGED_IN --><a  href="{U_PRIVATEMSGS}" rel="nofollow" <!-- IF S_USER_UNREAD_PRIVMSG --> id="barre_bouton_nouveauMP"></a><!-- ELSE --> id="barre_bouton_MP"></a><!-- ENDIF --><!-- ENDIF --><!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED --><a id="barre_bouton_enregistrer" href="{U_REGISTER}" rel="nofollow" style="display:none;"></a><!-- ENDIF -->
			</div>
			
		
		    <div id="RCDofus">

            <a id="twitter" href="http://twitter.com/#!/Club_Sandwich" title="Twitter du Club Sandwich" target="_blank"></a>
            <a id="dofux" href="http://dofux.org" title="Dofux" target="_blank"></a>
		    
			
		    
		    <script type='text/javascript'><!--//<![CDATA[
            var m3_u = (location.protocol=='https:'?'https://script.rcdofus.co.cc/nabajs.php':'http://script.rcdofus.co.cc/nabajs.php');
            var m3_r = Math.floor(Math.random()*99999999999);
            if (!document.MAX_used) document.MAX_used = ',';
            document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
            document.write ("?noblock&zoneid=2");
            document.write ('&amp;cb=' + m3_r);
            if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
            document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
            document.write ("&amp;l=" + escape(window.location));
            if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
            if (document.context) document.write ("&context=" + escape(document.context));
            if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
            document.write ("'><\/scr"+"ipt>");
            //]]>-->
            </script>
            <noscript><a href='http://script.rcdofus.co.cc/ck.php?n=af0d2696&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://script.rcdofus.co.cc/avw.php?zoneid=2&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=af0d2696' border='0' alt='' /></a></noscript>
            
            <a id="alaredak" href="http://alaredak.free.fr" title="Alaredak" target="_blank"></a>
            <a id="ankadio" href="http://ankadio.com" title="Anka'Dio" target="_blank"></a>
            </div>
		</div>
        
			


	
	<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
	<br />
	<br />
		<div id="information" class="rules">
			<div class="inner">
				<strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
				
			</div>
		</div>
		<!-- ENDIF -->
		
		
		<br />
	</div>
	
 <!-- Fermeture du header -->

	<div id="page-accueil">

<center>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 9,
  interval: 5000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#f2e6bf',
      color: '#c7c0a5'
    },
    tweets: {
      background: '#faf5de',
      color: '#000000',
      links: '#666666'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('Club_Sandwich').start();
</script>

<br />

<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 9,
  interval: 5000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#f2e6bf',
      color: '#c7c0a5'
    },
    tweets: {
      background: '#faf5de',
      color: '#000000',
      links: '#666666'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('Alaredak').start();
</script>

</center>    

    </div>
    
<!-- close div id="page-accueil" -->

<div id="footer">
	<center>
		<div class="copyright">
		    <!-- IF U_MCP or U_ACP --><p><!-- IF U_ACP -->	
                    <a href="{U_ACP}">{L_ACP}</a>
    			<!-- IF U_MCP -->|<!-- ENDIF -->
    			<!-- ENDIF -->
    			<!-- IF U_MCP -->
    				<a href="{U_MCP}">{L_MCP}</a>
    			<!-- ENDIF --></p><!-- ENDIF -->
		    {SITE_DESCRIPTION}
		</div>

			<!-- IF DEBUG_OUTPUT -->
				<br />{DEBUG_OUTPUT}
			<!-- ENDIF -->
	</center>

</div>	

</div>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://club-sandwich.org/stats/" : "http://club-sandwich.org/stats/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://club-sandwich.org/stats/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

	</body>
  <!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</html>