<!-- BEGIN forumrow -->


<!-- IF forumrow.S_IS_CAT or forumrow.S_IS_LINK or forumrow.S_NO_CAT -->
	<!-- IF not forumrow.S_FIRST_ROW -->
		<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
			<tr id="tableau_forum_footer">
    			<td colspan="7">
        			<a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a>
    			</td>
			</tr>
		<!-- ENDIF -->
		</tbody>
		</table>
	<!-- ENDIF -->
	<table width="100%" border="0" class="tableau_forum"  id="hidden_{forumrow.FORUM_ID}" style="display:none">
        <tr class="tableau_forum_header">
            <th colspan="4" width="70%"><h2><a class="expand" href="javascript:void(0)" onclick="expand({forumrow.FORUM_ID});"></a> <a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h2></th>
            <th width="8%">{L_TOPICS}</th>
            <th width="8%">{L_POSTS}</th>
            <th width="14%">{L_LAST_POST}</th>
        </tr>
	</table>
	
	<table width="100%" border="0" class="tableau_forum"  id="show_{forumrow.FORUM_ID}" style="display:table">
        <thead>
			<tr class="tableau_forum_header">
            	<th colspan="4" width="70%"><h2><a class="contract" href="javascript:void(0)" onclick="contract({forumrow.FORUM_ID});"></a><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h2></th>
            	<th width="8%">{L_TOPICS}</th>
            	<th width="8%">{L_POSTS}</th>
            	<th width="14%">{L_LAST_POST}</th>
        	</tr>
		</thead>
    	<tbody>
	
	
<!-- ELSE -->
    <!-- IF forumrow.S_FIRST_ROW -->
    <table width="100%" border="0" class="tableau_forum"  id="hidden_{forumrow.FORUM_ID}" style="display:none" >
            <tr class="tableau_forum_header">
                <th colspan="4" width="70%"><h2><a class="expand" href="javascript:void(0)" onclick="expand({forumrow.FORUM_ID});"></a> <a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h2></th>
                <th width="8%">{L_TOPICS}</th>
                <th width="8%">{L_POSTS}</th>
                <th width="14%">{L_LAST_POST}</th>
            </tr>
    </table>
    <table width="100%" border="0" class="tableau_forum"  id="show_{forumrow.FORUM_ID}" style="display:table">
        <thead>
            <tr class="tableau_forum_header">
                <th colspan="4" width="70%"><h2><a class="contract" href="javascript:void(0)" onclick="contract({forumrow.FORUM_ID});"></a> <a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h2></th>
                <th width="8%">{L_TOPICS}</th>
                <th width="8%">{L_POSTS}</th>
                <th width="14%">{L_LAST_POST}</th>
            </tr>
        </thead>
        <tbody>
    <!-- ENDIF -->
    <tr>
        <td width="10%"><a class="topictitle" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_FOLDER_IMG}</a></td>
        <td class="celluleforum" colspan="3" onclick="location.href='{forumrow.U_VIEWFORUM}'">
            
                                                                        <!--<a class="topictitle" href="{forumrow.U_VIEWFORUM}">!-->
            <p class="topictitle">
            <!-- IF forumrow.FORUM_IMAGE -->
            <div style="float: {S_CONTENT_FLOW_BEGIN}; margin-{S_CONTENT_FLOW_END}: 5px;">{forumrow.FORUM_IMAGE}</div>
            <!-- ENDIF -->
            {forumrow.FORUM_NAME}
            </p>
                                                                                    <!--</a>!-->
            
            <p class="topicsoustitle">
                                                                                    <!--<a class="topicsoustitle" href="{forumrow.U_VIEWFORUM}">!-->
            {forumrow.FORUM_DESC}
            </p>
                                                                                    <!--</a>!-->
            

            <!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS -->
            <p class="subforum">{forumrow.L_SUBFORUM_STR} {forumrow.SUBFORUMS}</p>
            <!-- ENDIF -->
        </td>
        <td>
            {forumrow.TOPICS}
        </td>
        <td>
            {forumrow.POSTS}
        </td>
        <td>
            <!-- IF forumrow.LAST_POST_TIME -->
            <p>
                <!-- IF forumrow.U_UNAPPROVED_TOPICS -->
                <a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a><br />
                <!-- ENDIF -->
                {forumrow.LAST_POST_TIME}
            </p>
            <p>
                {forumrow.LAST_POSTER_FULL}
                <!-- IF not S_IS_BOT -->
                <a class="topictitle" href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a>
                <!-- ENDIF -->
            </p>
            <!-- ELSE -->
            <p class="topicdetails">{L_NO_POSTS}</p>
            <!-- ENDIF -->
        </td>
    </tr>
<!-- ENDIF -->


<!-- BEGINELSE -->			
    <tr>
        <td>{L_NO_FORUMS}</td>
    </tr>				


<!-- END forumrow -->
</tbody>    
<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
<tfoot>
    <tr class="tableau_forum_footer">
        <td colspan="7">
            <a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a>
        </td>
    </tr>
</tfoot>
    <!-- ENDIF -->
	
</table>