<!-- INCLUDE overall_header.html -->


<!--	
	<div id="informations_derniere_connection">	
  		<!-- IF S_USER_LOGGED_IN -->
			{LAST_VISIT_DATE} |
  		<!-- ENDIF -->
  		{CURRENT_TIME} 
			<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
				<a href="{U_SEARCH_NEW}">| {L_SEARCH_NEW}</a> | 
				<a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a> | 
				<a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a>
			<!-- ENDIF -->	
	</div>
!-->		
		
		<!-- Lien vers panneau d'administration -->
		<div id="access_ACP" style="display:none">
		<!-- IF U_ACP -->	
            <a href="{U_ACP}">{L_ACP}</a>
		<!-- IF U_MCP -->|<!-- ENDIF -->
		<!-- ENDIF -->
		<!-- IF U_MCP -->
			<a href="{U_MCP}">{L_MCP}</a>
		<!-- ENDIF -->
		</div>


		
<!-- INCLUDE forumlist_body.html -->	
	
	
	
<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<center>
<div id="connexion_bas_page">
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<!-- IF S_REGISTER_ENABLED -->
			<p>Si vous n'êtes pas inscrit, c'est par <a href="{U_REGISTER}">ici.</a><br /> Sinon connectez vous.</p>
	<!-- ELSE -->
			<p>Les inscriptions sont closes pour en ce moment.<br />Si vous êtes inscrit, connectez vous.</p>
	<!-- ENDIF -->
	
	<fieldset class="quick-login">
		<label for="username">{L_USERNAME}:</label>
		<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" /><br />
		<label for="password">{L_PASSWORD}:</label>
		<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" /><br />
			<!-- IF S_AUTOLOGIN_ENABLED -->
				<label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" checked="checked" /></label>
			<!-- ENDIF -->
			<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
			{S_LOGIN_REDIRECT}
		</fieldset>
	</form>
</div>
</center>
<!-- ENDIF -->	

<div id="info_bas_page">
	<div id="qui_est_en_ligne_image">
		<img src="{T_THEME_PATH}/images/rien.png" border="0" hspace="0" alt="Image: Qui est en ligne  ?" title="Qui est en ligne ?" />
	</div>

<div id="qui_est_en_ligne_image2">
</div>


	<!-- IF NEWEST_USER -->
	<div id="dernier_inscrit_et_total_post">
		<br />
		<p>Nos membres ont posté un total de <strong>{TOTAL_POSTS}</strong>.</p>
		<br />
		Nous avons <strong>{TOTAL_USERS}</strong> enregistrés.
		<br />
		{NEWEST_USER}.
	</div>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_ONLINE_LIST -->
	<div id="qui_est_en_ligne">
           <br />
	   <p>{TOTAL_USERS_ONLINE}<br />{RECORD_USERS}.<br /> <br /><br />{LOGGED_IN_USER_LIST}.</p>
	   
	</div>
	<!-- ENDIF -->

	<!-- IF LEGEND -->
	  	<div id="utilisateur_24h">          
			{L_LEGEND} :
			<b>{LEGEND}</b>.
		</div>
	<!-- ENDIF -->
	<br />
</div>


<!-- INCLUDE overall_footer.html -->