<!-- INCLUDE overall_header.html -->

<div class="entete"><br />
<center>
<h1><b><font color='#C00000'>
<u>/!\</u> Attention <u>/!\</u>
</font></b></h1>
<h2>
Ces items ne sont pas encore disponibles sur le serveur via leur craft !<br />
Nous attendons d'avoir passer le serveur en Spout (utilisation du launcher Spoutcraft obligatoire) pour les mettre en circulation.
</h2>
</center><br />
</div>

<div class="entete" id="item_fond">
         <div class="item_gauche">
                <div class="item_global">

                        <div class="item_nom">
                               Levure
                        </div>
                        <div class="item_type">
                                Ressource
                        </div>
                        <div class="item_image">
                                <img src="http://sascraft.mtxserv.fr/Autre/upload/levure.png" alt="Levure"></img>
                        </div>
                        <div class="item_desc">
                                Rien de tel qu'une bonne dose de levure pour d'excellentes patisseries .... ou bières.
                        </div>
                </div>
<br />
                <div class="item_global">
                        <div class="item_nom">
                               Pinte vide
                        </div>
                        <div class="item_type">
                                Utilitaire
                        </div>
                        <div class="item_image">
                                <img src="http://sascraft.mtxserv.fr/Autre/upload/pinte.png" alt="Pinte vide"></img>
                        </div>
                        <div class="item_desc">
                                Une pinte vide qui n'attend que d'être remplie d'une bonne bière bien fraîche.
                        </div>
                </div>
<br />
                <div class="item_global">
                        <div class="item_nom">
                               Bière
                        </div>
                        <div class="item_type">
                                Consommable
                        </div>
                        <div class="item_image">
                                <img src="http://sascraft.mtxserv.fr/Autre/upload/biere.png" alt="Bière"></img>
                        </div>
                        <div class="item_desc">
                                Rien de telle qu'une bière pour vous remettre d'aplomb. Attention, l'abus d'alcool est mauvais pour la santé !
                        </div>
                </div>
<br />
                <div class="item_global">
                        <div class="item_nom">
                               Badge PvP
                        </div>
                        <div class="item_type">
                                Utilitaire
                        </div>
                        <div class="item_image">
                                <img src="http://sascraft.mtxserv.fr/Autre/upload/badge.png" alt="Obsilame"></img>
                        </div>
                        <div class="item_desc">
                                En venant à bout d'un adversaire, vous trouverez ce badge sur son cadavre.<br />
                                Vous pouvez les revendre en haut de chaque tour des cités Luna et Solar.
                        </div>
                </div>
<br />
                <div class="item_global">
                        <div class="item_nom">
                               Obsilame
                        </div>
                        <div class="item_type">
                                Arme
                        </div>
                        <div class="item_image">
                                <img src="http://sascraft.mtxserv.fr/Autre/upload/obsilame.png" alt="Obsilame"></img>
                        </div>
                        <div class="item_desc">
                                Aussi dur que le diamant, aussi coupant que le fer, cette lame fait perdre jusqu'à 4,5 coeurs par coup.
                        </div>
                </div>
        </div>

        <div class="item_droite">
                <div class="item_global">
                        <div class="item_nom">
                               Masque de V
                        </div>
                        <div class="item_type">
                                Utilitaire
                        </div>
                        <div class="item_image">
                                <img src="http://sascraft.mtxserv.fr/Autre/upload/maskv.png" alt="VMask"></img>
                        </div>
                        <div class="item_desc">
                                Pour les plus flemmards d'entre-vous, ce Masque vous permet de lancer la commande /stats avec un clic droit ou gauche, sans avoir à la taper dans le chat :)
                        </div>
                </div>
<br />
                <div class="item_global">
                        <div class="item_nom">
                               Lingot d'obsidienne
                        </div>
                        <div class="item_type">
                                Ressource
                        </div>
                        <div class="item_image">
                                <img src="http://sascraft.mtxserv.fr/Autre/upload/lingotobsi.png" alt="Lingot de Lapis"></img>
                        </div>
                        <div class="item_desc">
                                Ce lingot violet s'obtient en fondant un bloc d'obsidienne.
                        </div>
                </div>
<br />
                <div class="item_global">
                        <div class="item_nom">
                                Lingot de lapis
                        </div>
                        <div class="item_type">
                                Ressource
                        </div>
                        <div class="item_image">
                                <img src="http://sascraft.mtxserv.fr/Autre/upload/lingot_lapis.png" alt="Lingot de Lapis"></img>
                        </div>
                        <div class="item_desc">
                                En fondant un bloc de Lapis-lazuli, vous obtiendrez un de ces lingots d'un bleu étincelant !
                        </div>
                </div>
<br />
                <div class="item_global">
                        <div class="item_nom">
                                Lingot de redstone
                        </div>
                        <div class="item_type">
                                Ressource
                        </div>
                        <div class="item_image">
                                <img src="http://sascraft.mtxserv.fr/Autre/upload/lingot_redstone.png" alt="Lingot de Redstone"></img>
                        </div>
                        <div class="item_desc">
                                Avec 3 redstones, vous pourrez les transformer en lingot. Cependant, ils perdent leur caractéristique électrique.
                        </div>
                </div>
<br />
                <div class="item_global">
                        <div class="item_nom">
                                Riw'Hache
                        </div>
                        <div class="item_type">
                                Arme
                        </div>
                        <div class="item_image">
                                <img src="http://sascraft.mtxserv.fr/Autre/upload/riwhache.png" alt="Riw'Hache"></img>
                        </div>
                        <div class="item_desc">
                                Cette hache n'est pas là pour couper du bois mais des têtes. Elle fait perdre 2 coeurs par coup portés et est indestructible.
                        </div>
                </div>
        </div>               
        </div>

<!-- INCLUDE overall_footer.html -->