$config['ip']='46.105.124.185';
$config['port']='25566';
	
	class Minequery {
		
		public static function query($address, $port = 25566, $timeout = 30) {
			$query = array();

			$beginning_time = microtime(true);

			$socket = @fsockopen($address, $port, $errno, $errstr, $timeout);

			if (!$socket) {
				// Could not establish a connection to the server.
				return false;
			}

			$end_time = microtime(true);

			fwrite($socket, "QUERY\n");

			$response = "";

			while(!feof($socket)) {
				$response .= fgets($socket, 1024);
			}

			$response = explode("\n", $response);

			// Server port
			$query['serverPort'] = explode(" ", $response[0], 2);
			$query['serverPort'] = $query['serverPort'][1];

			// Player count
			$query['playerCount'] = explode(" ", $response[1], 2);
			$query['playerCount'] = $query['playerCount'][1];

			// Max players
			$query['maxPlayers'] = explode(" ", $response[2], 2);
			$query['maxPlayers'] = $query['maxPlayers'][1];

			// Player list
			$query['playerList'] = explode(" ", $response[3], 2);
			$query['playerList'] = explode(", ", trim($query['playerList'][1], "[]"));

			$query['latency'] = ($end_time - $beginning_time) * 1000;

			return $query;
		}

		
	}
	$reponse = Minequery::query($config['ip'],$config['port']);
	echo('ok');
	$chaine1 = '<p>' . $config['ip'] . ' : '. $config['port'] . '</p>';
	echo($chaine1);
		
		if(!$reponse){
			echo('<p>Serveur offline</p>');
		}
		else{
			$retour = implode(', ', $reponse['playerList']);
			$chaine2 = '<p>Status : Online</p><p>Slots : ' . $reponse['playerCount'] . ' / ' . $reponse['maxPlayers'] . '</p><p>Player : ' . $retour . '</p>';
			echo($chaine2);
			
	}