</div>
<!-- close div id="page-body" -->
<br />
<div id="footer">
	<center>
		<div class="copyright">
		    <!-- IF U_MCP or U_ACP -->
			<p><!-- IF U_ACP -->	
                    <a href="{U_ACP}">{L_ACP}</a> | <a href="/Autre/piwik/">Piwik</a>
    				<!-- IF U_MCP -->|<!-- ENDIF -->
    			<!-- ENDIF -->
    			<!-- IF U_MCP -->
    				<a href="{U_MCP}">{L_MCP}</a>
    			<!-- ENDIF -->
				<!-- IF U_MCP or U_ACP -->|<!-- ENDIF --> <a href="/hawkeye">Hawkeye</a></p>
<!-- ELSE --><p><a href="/hawkeye">Hawkeye</a></p>
<!-- ENDIF -->
		    {SITE_DESCRIPTION}
		</div>

			<!-- IF DEBUG_OUTPUT -->
				<br />{DEBUG_OUTPUT}
			<!-- ENDIF -->
	</center>

</div>	

</div>



	</body>
  <!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</html>